@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

a.audio-anchor {
  color: theme(colors.brandBlue);
  cursor: pointer;
  text-decoration: underline;
  
  &[aria-disabled='true'] {
  color: theme(colors.gray.400);
  cursor: default;
  text-decoration: line-through 
  }
}

::-webkit-scrollbar {
  background: none;
  width: 0.5rem;
}

 /* Track */
::-webkit-scrollbar-track {
  background: none;
}
 
 /* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.brandScrollOrange');
  border-radius: 0.5rem;
}

 /* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background:  hsl(from theme('colors.brandScrollOrangeHover') h s l) 
}

.circle-highlight {
  border-radius: 50%;
  background-color: #FFFFFF50;
}